@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Ubuntu", sans-serif;
}

.Toastify__toast {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  /* color: #333; */
}

#root {
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}